// This mixin will expand the clickable area for a link on mobile and tablet to make it easier to click on a touch
// device.

@mixin touch-friendly-links($padding: 3px) {
  a {
    padding: $padding;
    margin: -1 * $padding;
    outline: none;
  }
}
